<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>RuntimeModel.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>A2CD4A081D9A64D80047B7CF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A2CD4A211D9A64D90047B7CF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A2CD4A2C1D9A64D90047B7CF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
